body {
    background-color: black;
    font-family: 'Stalinist One', cursive;
    color: #6FEE48;
}

.container {}

.task-name-input {
    background: none;
    border: none;
    border-bottom: 1px solid #6FEE48;
    color: #6FEE48;
}

.task-name-input:focus {
    background: none;
    color: #6FEE48;
}

.clock {
    width: 500px;
    font-size: 4rem;
    margin-top: 150px;
}

.progress-bar {
    background-color: #6FEE48;
}

#progress-bar {
    background: none;
    border: 1px solid #6FEE48;
}

/*
.col-2,
.col-5 {
    border: 1px solid #6FEE48;
}
*/